<h2> this page no longer needs to play albums.... change as such</h2>

<div>
	<div class="span6">
	<% @songs.each do |song| %>
	<h3><%= song.track_number %>. <%= song.title %></h3>
	</br>
	<% end %>
	</div>
</div>