// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.album {
  height: 300px;
  width: 300 px;
}

.uploader {
  padding:50px;
  padding-left: 50px;
}


.albumslider {
  padding:100px;
}

.container {
  padding: 50px;
  padding-bottom: 200px;
}
.used_album {
  height: 200px;
  width: 200 px;
  opacity:0.6
}

.button {
  height: 50px;
  padding-bottom: 25px;
}

.nosignup {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}