/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.datepicker
*/

.day_display {
  float: left;
}

.today_display {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.album_title {
  font-style:italic;
}
.leftside {
  width:50%;
  height: 100%;
  float:left;
}
.rightside {
  width:50%;
  height: 100%;
  float:right;
}

.albumname {
  font-style:italic;
}

.scrolleralbumart {
  height: 278px;
}

.slide-out-div-calendar {
    padding: 20px;
    width: 1260px;
    height: 320px;
    background: #B5B0B2;
    border: 1px solid #29216d;
} 

.slide-out-div-album {
    padding: 20px;
    width: 1260px;
    height: 320px;
    background: #B5B0B2;
    border: 1px solid #29216d;
} 

.handle {
  float: right;
}

.brandheader {
  font-size: 150px;
  line-height:90%;
}

.top-nav {
  padding:50px;
}